@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Comment Box</h1>
    <p class="lead">Comment Box is where you can comment freely</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Please Click on the comments tab to comment.
        </p>
        <p><a class="btn btn-default" href="/Comment">Learn more &raquo;</a></p>
    </div>
</div>